<div id="navbar">
  <nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link">Meat & More</a>
        </li>
        <li class="nav-item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link">VISITORS</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" [routerLink]="['/visitors']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">All Visitors</a>
        </li>
        <li class="nav-item" *ngIf="!loggedIn" [routerLink]="['/login']" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link">ADMIN</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="logOut()">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
