<div id="aanmelden" class="row justify-content-center">
  <div class="col-12">
    <h1 class="text-center">Beste bezoeker. Meld u hier aan.</h1>
  </div>
  <div id="aandmeldform">
    <form>
      <div class="form-group">
        <label for="voornaam">Firstname</label>
        <input type="text" class="form-control" id="voornaam" placeholder="Enter firstname">
      </div>
      <div class="form-group">
        <label for="achternaam">Lastname</label>
        <input type="text" class="form-control" id="achternaam" placeholder="Enter lastname">
      </div>
      <div class="form-group">
        <label for="type">Type visitor</label>

      </div>
      <div class="form-group">
        <label for="nummerplaat">License plate</label>
        <input type="text" class="form-control" id="nummerplaat" placeholder="Enter license plate">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
